header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid var(--border-color);
    background: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color var(--transition-speed) ease, border-color var(--transition-speed) ease;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 700;
}

nav {
    display: flex;
    gap: 2.5rem;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--primary-color);
}


@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
    }

    nav {
        gap: 1rem;
    }
}
